@model PIPMUNI_ARG.Models.Domain.Project
@{
}


<section class="section bg-plain">
    <div class="container">
        @if (Model != null)
        {
            <div class="banner-main-info">
                <div class="banner-main-desc">
                    <h4 class="text-center sub_t2_red">
                        <label>Code: @Model.Code</label>
                    </h4>
                </div>
                <div class="banner-main-title">
                    <h1 class="mainTit_t1 text-center">
                        <label>@Model.Name</label>
                    </h1>
                </div>
            </div>
        }
    </div>
</section>
