@model PIPMUNI_ARG.Models.Domain.ProjectImage
@{
    ViewData["Title"] = "Ver Imagen";
    ViewData["isBasicView"] = true;
}



<form asp-action="Display" class="mt-2" asp-route-returnUrl="@ViewBag.returnUrl" asp-route-bufferedUrl="@ViewBag.bufferedUrl">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="row">
        <div class="form-group mb-3">
            <label asp-for="Project" class="control-label" title="Proyecto al que corresponde la imagen.">Proyecto</label>
            <select disabled asp-for="Project" class="form-select display" asp-items="ViewBag.listProject"></select>
            <span asp-validation-for="Project" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3" id="divFile">
            <label asp-for="File" class="control-label" title="Nombre del archivo que contiene la imagen."></label>
            <input hidden id="File" asp-for="File" type="text" class="form-control" placeholder="(sin archivo seleccionado)">
            <div class="input-group mb-3">
                @if (!string.IsNullOrEmpty(Model.File))
                {
                    <a class="btn btn-link" asp-area="" asp-controller="ProjectImage" asp-action="Download" asp-route-serverFileName="@Model.File" asp-route-downloadName="Archivo" asp-route-projectId=@ViewBag.projectId>
                        <i class="bi-download"></i>&nbsp; Descargar
                    </a>
                }
            </div>
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3">
            <label asp-for="Description" class="control-label" title="Descripción de la imagen."></label>
            <textarea disabled asp-for="Description" type="text" rows="5" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-sm-6">
            <label asp-for="ImageDate" class="control-label" title="Fecha en la que produjo la imagen."></label>
            <input disabled asp-for="ImageDate" type="date" class="form-control">
            <span asp-validation-for="ImageDate" class="text-danger"></span>
        </div>
        <div class="form-group mb-3 col-sm-6">
            <label asp-for="UploadDate" class="control-label" title="Fecha en que se registra la imagen en el sistema."></label>
            <input disabled asp-for="UploadDate" type="date" class="form-control">
            <span asp-validation-for="UploadDate" class="text-danger"></span>
        </div>
    </div>

    @await Html.PartialAsync("/Views/Shared/JaosLib/_ResultMessages.cshtml",ViewData)
    <div class="mt-5">
        @{
            <!-- return button -->
            if (!string.IsNullOrEmpty(ViewBag.returnUrl))
            {
                string returnlink = @ViewBag.returnUrl;
                if (!string.IsNullOrEmpty(ViewBag.bufferedUrl))
                {
                    if (!returnlink.Contains("returnUrl"))
                    {
                        string separator = (returnlink.Contains('?')) ? "&" : "?";
                        returnlink += string.Format("{0}returnUrl={1}", separator, ViewBag.bufferedUrl);
                    }
                }
                <a href=@returnlink formnovalidate class="btn btn-basic"><i class="bi-arrow-90deg-left"></i>&nbsp; Regresar</a>
            }
            else
            {
                <a id="goBack" href="javascript:void(0);" formnovalidate class="btn btn-basic"><i class="bi-arrow-90deg-left"></i>&nbsp; Regresar</a>
            }
        }
    </div>




</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
