@page
@{
    ViewData["Title"] = "Acceso no autorizado";
}

<header>
    <p class="text-danger">Usuario sin acceso al sistema.</p>
    <p class="text-danger">Por favor contacte al administrador del sistema para solicitar su activación.</p>
</header>
