@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
    ViewBag.NoContainer = true;
    ViewBag.NoTitle = true;
}



<!--FORMULARIO INGRESO-->
<section class="section login">
    <div class="container">

        <div class="row justify-content-center align-content-center">
            <!--- NUEVO USUARIO --->
            <div class="col-lg-4">
                <div class="logo text-center">
                    <img class="lazy logo-ico" src="~/assets/img/logoEntidad_head.png" alt="Logo ministerio de Obras públicas">
                </div>

                <h1 class="text-center h2">Sistema Municipal de Gestión de Obras y Proyectos</h1>

                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>@ViewData["Title"]</h2>

                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email">Correo Electrónico</label>
                        <span asp-validation-for="Input.Email" class="text-danger field-validation-valid"></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-floating">
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.Password">Contraseña</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating">
                        </div>

                        <div class="col-lg-12">
                            <div class="password-instructions small">
                                <span>La contraseña debe contener al menos:</span>
                                <ul>
                                    <li>Una letra mayúscula</li>
                                    <li>Una letra minúscula</li>
                                    <li>Un número</li>
                                    <li>Un caracter especial</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
                </form>


            </div>
        </div>

    </div>

</section>












@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
