@model JaosLib.Areas.UserAdmin.Models.PasswordChangeModel
@{
    ViewData["Title"] = "Cambio de Contraseña";
}
@if (string.IsNullOrEmpty(ViewBag.errorMessage) && string.IsNullOrEmpty(ViewBag.okMessage))
{
    <form asp-action="ChangePassword" class="mt-5">
        <div class="row">
            <div class="form-group mb-3 col-sm-6 col-md-4">
                <label asp-for="new_password" class="control-label"></label>
                @Html.TextBoxFor(m => m.new_password,"form-control")
                <span asp-validation-for="new_password" class="text-danger"></span>
            </div>
            <div class="col-sm-6 col-md-4 small">
                <h6>Al menos:</h6>
                Una letra mayúscula<br />
                Una letra minúscula<br />
                Un número<br />
                Un caracter especial<br />
            </div>
        </div>
        <div class="row">
            <div class="form-group mb-3 col-sm-4">
                <label asp-for="repeat_password" class="control-label"></label>
                @Html.TextBoxFor(m => m.repeat_password,"form-control")
                <span asp-validation-for="repeat_password" class="text-danger"></span>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.warningMessage))
        {
            <div class="alert alert-warning">
                @ViewBag.warningMessage
            </div>
        }
        <div>
            <button type="submit" method="post" class="btn btn-danger" asp-action="ChangePassword">Cambiar Contraseña</button>
        </div>

    </form>
}
@await Html.PartialAsync("/Views/Shared/JaosLib/_ResultMessages.cshtml",ViewData)

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
