@using PIPMUNI_ARG.Models.Domain;
@model UserProfile
@{
    ViewData["Title"] = "Crear Perfil de Usuario";
    ViewData["isBasicView"] = true;
}

@await Html.PartialAsync("/Views/Shared/JaosLib/_ResultMessages.cshtml",ViewData)

<form id="FormUserProfile" asp-action="Create" class="mt-2" asp-route-returnUrl="@ViewBag.returnUrl" asp-route-bufferedUrl="@ViewBag.bufferedUrl">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="form-group mb-3" id="divAspNetUserId">
            <label asp-for="AspNetUserId" class="control-label" title="El id interno de Asp Net para el usuario."></label>
            <input asp-for="AspNetUserId" type="text" class="form-control">
            <span asp-validation-for="AspNetUserId" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3" id="divEmail">
            <label asp-for="Email" class="control-label" title="Correo Electrónico del usuario"></label>
            <input asp-for="Email" type="email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-sm-6" id="divName">
            <label asp-for="Name" class="control-label" title="Nombre del usuario"></label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3 col-sm-6" id="divSurname">
            <label asp-for="Surname" class="control-label" title="Apellido del usuario"></label>
            <input asp-for="Surname" type="text" class="form-control">
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3" id="divOffice">
            <label asp-for="Office" class="control-label" title="Oficina o área de la administración municipal a la que pertenece el usuario"></label>
            <select asp-for="Office" name="Office" class="form-select" asp-items="ViewBag.listOffice" id="Office"></select>
            <span asp-validation-for="Office" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3" id="divNotes">
            <label asp-for="Notes" class="control-label" title="Anotaciones o comentarios"></label>
            <textarea asp-for="Notes" type="text" rows="5" class="form-control"></textarea>
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>
    </div>

    @await Html.PartialAsync("/Views/Shared/JaosLib/_ResultMessages.cshtml",ViewData)

    <div class="form-group mt-5">
        @{
            <!-- return button -->
            if (!string.IsNullOrEmpty(ViewBag.returnUrl))
            {
                string returnlink = @ViewBag.returnUrl;
                if (!string.IsNullOrEmpty(ViewBag.bufferedUrl))
                {
                    if (!returnlink.Contains("returnUrl"))
                    {
                        string separator = (returnlink.Contains('?')) ? "&" : "?";
                        returnlink += string.Format("{0}returnUrl={1}", separator, ViewBag.bufferedUrl);
                    }
                }
                <a href=@returnlink formnovalidate class="btn btn-basic"><i class="bi-arrow-90deg-left"></i>&nbsp; Regresar</a>
            }
            else
            {
                <a id="goBack" href="javascript:void(0);" formnovalidate class="btn btn-basic"><i class="bi-arrow-90deg-left"></i>&nbsp; Regresar</a>
            }
        }
        <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg"></i> Guardar</button>
    </div>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
